<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
               %-5level %X{user} [%t] %C{1.}/%M: %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
    <logger name="com.softwareplumbers.feed" level="TRACE"/>
    <logger name="com.softwareplumbers.common.sql" level="TRACE"/>
    <logger name="com.softwareplumbers.dms.keymanager" level="TRACE"/>
    <logger name="com.softwareplumbers.dms.plugin.auth.ti" level="TRACE"/>
    <logger name="com.softwareplumbers.rest.server.core" level="TRACE"/>
    <logger name="com.softwareplumbers.rest.server.core.CookieRequestValidationService" level="TRACE"/>
    <logger name="com.softwareplumbers.rest.server.core.DummyRequestValidationService" level="TRACE"/>
    <logger name="com.softwareplumbers.rest.server.core.AuthenticationFilter" level="TRACE"/>
</configuration>
